<div class="container-fluid">
    <section><h1>Abput Us</h1></section>
    <div class="about">
        <div class="row">
            <div class="col-lg">
                <article>
                    <h2>Freeleance Writer</h2>
                    <p>we're always looking for talented writers to create content for eBookes, surveys reports, blog posts, podcasts, ghostwriting projects, and more..</p>
                    <div class="row">
                        <div class="col-sm"><span><i><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                        </i> Contact</span></div>
                        <div class="col-sm"><span><i></i> Location</span></div>
                    </div>
                </article>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>